{% extends 'main/users/home.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block content %}
    <main class="main js-main">
            <h1>{{ project.title }}</h1>
            <form method="post">
                  {% csrf_token %}
                  <label for="hours">Количество часов:</label>
                  <input type="number" name="hours" id="hours" required min="1">
                  <br><br>
                  <label for="description">Описание:</label>
                  <textarea name="description" id="description" required></textarea>
                  <br><br>
                  <button type="submit">Добавить</button>
            </form>
    </main>
{% endblock %}