{% extends 'main/users/home.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block content %}
    <main class="main js-main">
            <table>
                    <thead>
                        <tr>
                            <th>Номер</th>
                            <th>Наименование</th>
                            <th>Описание</th>
                        </tr>
                    </thead>

                    <tbody>
                            {% for project in projects %}
                                    <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <th><a href="{% url 'projectt_details' project_id=project.project.pk %}">{{ project.project.title }}</a></th>
                                            <th><a href="{% url 'add_time' project_id=project.project.pk %}">add time</a></th>
                                    </tr>
                                    {% empty %}
                                    <li>No projects found</li>
                            {% endfor %}
                    </tbody>

            </table>
    </main>
{% endblock %}