<!DOCTYPE html>
{% load static %}
<html >
<head>
  <meta charset="UTF-8">
  <title>Log in/Sign up screen animation</title>


            <link rel="stylesheet" type="text/css" href="{% static 'main/css/signin.css' %}" />


</head>

<body>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

<div class="registration-cssave">
    <form class="form-signin" method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            <h1 class="text-center">Регистрация</h1>
            <label for="inputUsername" class="sr-only"></label>
            {{ form.username }}
            {{ form.password }}
            <label for="ReInputPassword" class="sr-only"></label>
            {{ form.repeat_password }}
            <button class="btn mt-2 btn-lg btn-primary btn-block" type="submit">Продолжить</button>
        </form>
</div>
</body>
</html>





<div class="form-group">
            <button class="btn btn-primary btn-block create-account" type="submit">Продолжить</button>
        </div>
        <div class="container signin" id="sign-in">
            <p>У вас уже есть аккаунт? <br><a href="{% url 'signin' %}" id="sign-im">Войти</a></p>
        </div>