{% extends 'main/admin/home.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block content %}
<main class="main js-main">
    <table>
          <thead>
            <tr>
              <th>Номер</th>
              <th>Фамилия</th>
              <th>Действие</th>
            </tr>
          </thead>
          <tbody>
                {% for user in inactive_users %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <th>{{ user.first_name }}</th>
                      <th>
                          <form action="{% url 'activate_user' user.id %}" method="post">
                                {% csrf_token %}
                                <input type="submit" value="Активировать">
                          </form>
                      </th>
                    </tr>
                {% endfor %}
          </tbody>
    </table>
</main>
{% endblock %}
