{% extends 'main/admin/home.html' %}
{% block title %}
{% endblock %}
{% block content %}
    <main class="main js-main">
        <table class="tasks-table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Наименование</th>
                    <th>Описание</th>
                    <th>Файлы</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ task.title }}</td>
                        <td>{{ task.task }}</td>
                        <td><a href="{% url 'project-files_admin' project_id=task.id %}">Файлы</a></td>
                        <td><a href="{% url 'project-add-file' pk=task.id %}">Добавить файл</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
