{% extends 'main/admin/home.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block content %}
    <main class="main js-main">
        <table>
            <thead>
                <tr>
                    <th>Номер</th>
                    <th>Логин</th>
                    <th>Должность</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <th>{{ user.username }}</th>
                        <th>{{ user.position }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}







