<table>
  <thead>
    <tr>
      <th>Пользователь</th>
      <th>Должность</th>
      <th>Проекты</th>
    </tr>
  </thead>
  <tbody>
   <form method="post">
    {% csrf_token %}
    <label for="user-select">Select User:</label>
    <select name="user" id="user-select">
      {% for user in users %}
        <option value="{{ user.id }}">{{ user.username }}</option>
      {% endfor %}
    </select>
    <br><br>
    <label for="project-select">Select Project:</label>
    <select name="project" id="project-select">
      {% for project in projects %}
        <option value="{{ project.id }}">{{ project.title }}</option>
      {% endfor %}
    </select>
    <br><br>
    <button type="submit">Delete Project</button>
  </form>
  </tbody>
</table>




