<table>
  <thead>
    <tr>
      <th>Пользователь</th>
      <th>Должность</th>
      <th>Проекты</th>
    </tr>
  </thead>
  <tbody>
    <form method="post">
  {% csrf_token %}
  <label for="user">Выберите пользователя:</label>
  <select id="user" name="user">
    {% for user in users %}
    <option value="{{ user.id }}">{{ user.username }}</option>
    {% endfor %}
  </select>
  <br>
  <label for="task">Выберите задачу:</label>
  <select id="task" name="task">
    {% for task in tasks %}
    <option value="{{ task.id }}">{{ task.title }}</option>
    {% endfor %}
  </select>
  <br>
  <button type="submit">Присвоить проект</button>
</form>

  </tbody>
</table>