{% extends 'main/admin/home.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block content %}
<main class="main js-main">
    {% for report in reports %}
        <div class="report">
            <h2>{{ report.user.username }}</h2>
            <p>Дата: {{ report.date }}</p>
            <p>Количество часов: {{ report.hours_spent }}</p>
            <p>Комментарий: {{ report.description }}</p>
        </div>
        {% empty %}
        <p>Отчетов по данному проекту нет</p>
    {% endfor %}
</main>
{% endblock %}





